body{
    font-family: 'Lato', sans-serif;
}

.logo{
    width: 268px;
    height: 93px;
}
#searchbar {
    background-color: #e7e7e7;
    height: 69px;
    border-radius: 5px 0 0 5px;
    font-size: 18px;
    color: #000000;
    opacity: 0.25;
    box-shadow: none;
    margin-bottom: 20px;
    align-self: center;
    border: none;
}

#searchbar, #icon :hover {
    border: none;
}

#icon {
    color: #000000;
    padding-top: 15px;
    text-align: center;
    background-color: hsla(0, 0%, 90%, .25);
    height: 69px;
    border-radius: 0 5px 5px 0;
    font-size: 18px;
    color: #000000;
    border: none;
}

.tag_ingredients, #tag_ingredient {
    position: relative;
    background: #3282F7;
    color: #FFFFFF;
    border-radius: 5px;
    width: 170px;
    max-width: auto;
    height: 69px;
    max-height: auto;
    padding: 0 0 0 10px;
}

.search_ingredient input{
    outline: none;
    border: none;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;

}

input::placeholder{
    color: #FFFFFF;
    opacity: 0.5;
    font-size: 18px;
    text-align: left;
}

.search_ingredient .icon_tag{
    position: absolute;
    font-weight: bold;
    font-size: 18px;
    top: 23px;
    right: 10px;
    text-align: center;
    cursor: pointer;
}

.fa-chevron-up{
    position: absolute;
    display: none;
}

.search_ingredient .motion{
    padding: 10px;
    max-height: 397px;
    overflow-y: auto;
    opacity: 0;
    pointer-events: none;
    display: none;
}

.motion li{
    list-style: none;
    display: flex;
    width: auto;
    cursor: default;
}

/* #tag_appareil{
    background: #68D9A4;
}

#tag_ustensiles{
    background: #ED6454;
}

#tag_ingredient, #tag_appareil, #tag_ustensiles {
    width: 170px;
    height: 69px;
    border-radius: 5px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    margin-right: 20px;
} */
/* .bi-search{
    position: absolute;
    left: 94%;
    top: 23%;
    bottom: 14.63%;
    font-size: 18px;
} */